* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after, 
::before {
  box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {font-size: 100%;} /*16px*/

:root {
  /* colors */
  /* primary colours */
  --primary-100: #fde8d2;
  --primary-200: #fbd1a5;
  --primary-300: #fab978;
  --primary-400: #f8a24b;
  --primary-500: #F68B1E;
  --primary-600: #c56f18;
  --primary-700: #945312;
  --primary-800: #62380c;
  --primary-900: #311c06;

  /* grey */
  --grey-100: #e0e3e8;
  --grey-200: #c1c7d1;
  --grey-300: #a2acb9;
  --grey-400: #8390a2;
  --grey-500: #64748b;
  --grey-600: #505d6f;
  --grey-700: #3c4653;
  --grey-800: #282e38;
  --grey-900: #14171c;
  

  /* alert colors */
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

   /* fonts */
   --headingFont: 'Poppins', sans-serif; 
   --bodyFont: 'Poppins', sans-serif; 
   --smallText: 0.7rem;

   /* rest of the variables */
   --borderRadius: 0.25rem; 
   --letterSpacing: 1px; 
   --transition: 0.3s ease-in-out all;
   --max-width:1120px; 
   --fixed-width: 600px; 

   /* box shadow */
   --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
   --shadow-2:  0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
   --shadow-3:  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
   --shadow-4:  0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)

}

  
body {
  background: white;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--grey-900);
}


ul {
  list-style: none;
  padding: 0;

}

 .btn {
  cursor: pointer;
  color: pointer; 
  color: var(--grey-100); 
  background: var(--primary-500);
  border-radius: var(--borderRadius); letter-spacing: var(--letterSpacing); 
  margin:1rem;
  box-shadow:var(--shadow-1);
  text-transform: capitalize;
  padding: 0.4rem 0.75rem;
  cursor:pointer;
  border: transparent; 
  height:40px; 
  color: var(--grey-100);
  background:var(--primary-500); 
  border-radius:20px;
  font-weight:bolder;
  transition:var(--transition);  
 
 
}

.btn {
  letter-spacing: var(--letterSpacing); 
  margin:1rem;
  box-shadow:var(--shadow-1);
  text-transform: capitalize;
  padding: 0.4rem 0.75rem;
  cursor:pointer;
  border: transparent; 
  height:40px; 
  color: var(--grey-100);
  background:var(--primary-500); 
  border-radius:20px;
  font-weight:bolder;
  transition:var(--transition); 
  box-shadow: var( --shadow-2);
}
.btn-hipster:hover{
  color: var(--grey-100);
  background:var(--primary-500); 
  box-shadow: var( --shadow-4);

} 

/* nav bar */
nav {  
  max-width: 100%;
  justify-content: space-between;    
  padding:0 2px; 
  height: 64px; 
  background: #fff;
  box-shadow: var(--shadow-1);
  position: relative;

}   

nav:hover{
  box-shadow: var(--shadow-4);
}

nav ul { 
  list-style: none; 
   margin:auto 0;  
   padding: 0;
   display: flex;
  }
  nav li {
    align-items: center;
    justify-content: space-around;
    line-height: 1.5;
    margin:20px 30px;
  }

  .nav-list li a {
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color:  #2E2E2E;
    letter-spacing: 3px;
  }
  .nav-list a:hover {
    color: #F15A29;
  }

  .nav-list  .logo{
    margin-left:1rem;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 3rem;
  }

.nav-list .search {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  text-align: center;
  display: flex;  
}

.nav-list .search input {
  padding: 10 10px;
  font-size: small;
  width: 250px;
  border-radius: 5px;
  border: 1px solid ;
  text-align: center;

}

.nav-list .search .search-icon {
  position: relative;
  height: 100%;
  font-size: 10px;
  cursor: pointer;
  z-index: 1;
 

}
.nav-list .search .search-icon::after{
  height: 100%;
  width: 0%;
  content: '';
  background: #F15A29;
  top: 0;
  right:0;
  z-index: -1;
  transition: var(--transition);
}



@media screen and (min-width: 800px){
 
  section {
    height: 0;
    visibility: hidden;
  }

}

@media screen and (max-width:800px) {
  nav {
    height: 0;
    visibility: hidden;
  }
  section {
    background: #FFFFFF;
    max-width: 100%;
    justify-content: space-between;    
    padding:0 2px; 
    height: 64px; 
    background: #fff;
    box-shadow: var(--shadow-1);
    position: relative;
  }
  section ul {
    margin:auto 0;  
    padding: 0;
    display: flex;
  }
 section ul li {
    align-items: center;
    justify-content: space-around;
    line-height: 1.5;
    margin:15px 25px;
  }
  section li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color:  #2E2E2E;
    letter-spacing: 5px;
  }
  section li a:hover {
    color: #F15A29;
  }

  section input {
    width: 300px;
    padding: 10 10px;
    font-size: 16px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
     border: 1px solid #2E2E2E;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  section input:hover {
    border: 1px solid #F15A29;

  }
}





/* main */
.main {
  height: 1000px;
  background-color: var(--grey-100);
}

/* footer */
footer {
  background:  #2E2E2E;;
  height: 512px;
  color: #FFFFFF;
  text-transform: capitalize;
}

footer .row {
  display:flex;
  justify-content: center;
  line-height: 1.5; 
}

.col h3{
  font-size:22px;
  font-weight: bolder;
}
.col p {
  font-size:16px;
  font-weight:light;

}

.media {
  flex:1;
  margin-top:3rem;
  margin-left: 8rem;
}

.connected {
  flex:1;
  margin-top:3rem;
  margin-right: 8rem;
  max-width: 40em;
}

.connected input {
  display: inline-block;
  align-items: center;
  height: 40px;
  width: 150px;
  border-radius:20px;
  border: 5px ;
  text-align: center;
  font-size: 12px;
}

.about {
  flex:1; 
  margin-top:2rem;
  margin-left:8rem;
}

.sell {
  flex:1;
  margin-top:2rem;
  margin-right:8rem;
  max-width:40em
}
.icons {
  margin:12px 0;
}
@media (max-width: 800px) {
  footer {
    justify-content: center;

  }
  .row h3 {
    width: 30%;
    text-align: center;
    font-size: 12px;    
  }
  .row p {
    font-size: 10px;
  }
  .connected input {
    text-align: center;
    width: 100%; 
    height: 20%;
    margin: 0;
    border-radius: 3px;
  }
  .connected .btn {

    align-items: center;
    font-size: 10px;
    height:20%;
  }

}










